@model ProyectoSBooks.Models.Categoria

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="container col-md-5 card shadow my-5">
	<h5 class="pt-3"><i class="bi bi-file-plus"></i> Registrar Categoria</h5>
	<hr>
	<form asp-action="Create" class="py-3 row px-4">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCategoria" class="col-form-label">Nombre de la categoria: </label>
                <input asp-for="NombreCategoria" class="form-control" required />
                <span asp-validation-for="NombreCategoria" class="text-danger"></span>
            </div>
            <div class="form-group mb-5">
                <label asp-for="Descripcion" class="col-form-label">Descripcion: </label>
                <input asp-for="Descripcion" class="form-control" required />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 d-flex justify-content-center">
                <input type="submit" value="Guardar" class="btn btn-primary px-5 me-3 fw-bold" />
                <a asp-action="listado" class="btn btn-success px-4 fw-bold">Regresar</a>
            </div>
	</form>
</div>

